.pc{
    background:#2ECC71;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.p-05{
    padding:0.45rem;
}
.p-1{
    padding:0.75rem;
}
.p-2{
    padding: 1.5rem;
}
.m-1{
    margin: 0.75rem;
}
.m-2{
    margin: 1.25rem;
}
.mt-1{
  margin-top: 1rem;  
}
.mt-2{
    margin-top:2rem;
}
.ml-1{
    margin-left: 0.9rem;
}
.mr-1{
    margin-right: 0.9rem;
}
.mb-1{
    margin-bottom: 1.2rem;
}
.mf{
    font-family: sans-serif;
}

.d-none{
    display: none;
}
.d-block{
    display: block;
}
.gap-1{
    gap: 0.8rem;
}
.gap-2{
    gap: 2.3rem;
}
.gap-3{
    gap: 3.7rem;
}
p{
    font-family: sans-serif;
}